<% provide(:title, "Top Paid") %>
<div class="center jumbotron">
  <h1>Top Paid</h1>

  <ul class="users">
    <% @static_pages.each do |app| %>
      <li>
        <%= app.id %>
      </li>
    <% end %>
  </ul>
  <%= will_paginate %>  
</div>