<% provide(:title, "Top Free") %>
<div class="center jumbotron">
	<h3>Top Free</h3>
	<ul class="app-listing">
		<%= render partial: 'app', collection: @apps %>
	</ul>
	<div class="text-center">
		<%= will_paginate %>  
	</div>
</div>