@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

body {
  padding-top: 70px;
}

/* Header and Navbar */

.header {
  padding-top: 10px;
  font-size: 40px;
  text-align: center;
  background-color: white;
}

.navbar {
	width: 100%;
	text-align: center;
}

.navbar-nav {
  width: 100%;
  > li {
    float: none;
    display: inline-block;
  }
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* App Listings */

.app-listing {
  list-style: none;
  padding: 0;
  li {
    padding: 10px;
    border-top: 1px solid #C8C8C8;
    overflow: auto;
  }
  img {
    max-height: 70px;
    max-width: 70px;
    display: inline-block;
    margin-left: 10px;
  }

  .left-info {
    display: inline-block;
    vertical-align: top;
    min-width: 11%;
    text-align: right;
    .ranking {
      display: inline-block;
    }

  }

  .mid-info {
    display: inline-block;
    max-width: 80%;
    .name {
      font-weight: bold;
      display: block;
      text-overflow: hidden;
      word-wrap: break-word;
    }
    .company {
      display: block;
    }
    .rating {
      display: inline-block;
    }
    .country_rating {
      display: inline-block;
    }

  }

  .right-info {
    display: inline-block;
    float: right;
    min-width: 80px;
  }
}

/* Star Ratings */
.rating_bar {
    width: 80px;
    height: 16px;
    text-align: left;
    background: url(stars.png);
    background-position: 0 0;
    background-repeat: repeat-x;
}
.rating {
    height: 16px;
    background: url(stars.png);
    background-repeat: repeat-x;
    background-position: 0 -16px;
}