<footer class="footer">
  <small>
    <%= link_to "App Store Implementation", root_path %>
    By <a href="http://www.kylesbox.com/" target="_blank">Kyle Asaff</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/KyleAsaff/RailsToplist" target="_blank">Project Source Code</a></li>
    </ul>
  </nav>
</footer>