    <!-- Fixed navbar -->
<header class="navbar-fixed-top">
  <div class="header">Top Charts</div>
  <div class="navbar navbar-default container">
      <div id="navbar">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Paid", paid_path %></li>
          <li><%= link_to "Free", free_path %></li>
          <li><%= link_to "Top Grossing", top_grossing_path %></li>
        </ul>
      </div>
  </div>
</header>